/* IMPORT RESET */
@import url("reset.css");

/* IMPORT 12 COLUMN RESPONSIVE GS */
@import url("responsive.gs.12col.css");

@font-face {
    font-family: 'code_boldregular';
    src: url('../fonts/code_bold-webfont.eot');
    src: url('../fonts/code_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/code_bold-webfont.woff') format('woff'),
         url('../fonts/code_bold-webfont.ttf') format('truetype'),
         url('../fonts/code_bold-webfont.svg#code_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?5c3o7x');
	src:url('../fonts/icomoon.eot?#iefix5c3o7x') format('embedded-opentype'),
		url('../fonts/icomoon.woff?5c3o7x') format('woff'),
		url('../fonts/icomoon.ttf?5c3o7x') format('truetype'),
		url('../fonts/icomoon.svg?5c3o7x#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
	content: "\e605";
}
.icon-play:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e604";
}
.icon-instagram:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}


.container{
	max-width: 940px;
	margin: 0 auto;
}
.caps{
	text-transform: uppercase;
}
.codebold{
	font-family: 'code_boldregular';
}
ul{
	list-style-type: none;
	display: block;
	text-align: center;
}
a, a:visited, a:active{
	text-decoration: none; 
	color:#fff;
}
h1{
	display: inline-block;
	font-style: bold; 
	font-family: 'code_boldregular';
	font-size: 38px;
	padding: 20px 0 0 0;
}
h2{

}
.header{
	background: #3385FF;
	height: 157px;
}
	.logo{
		display: block;
		margin: 0 auto;
		width: 300px;
		padding: 10px 0;
	}
	.navbar{
		position: fixed;
		top: 0;
		z-index: 99;
		width: 100%;
		background: #3385FF;
		margin: 0 auto;
	}
		.navbar_links{
			font-size:14px;
			display: block;
			text-align: center;
			padding: 4px;
		}
		.navbar_links:visited{
			color: #FFF;
		}
		.list_style{
			display: inline-block;
			/*margin: 0 8px; */
			text-align: center;
			/*padding: 4px;*/
		}
		.nav_sublist{
			width:110px;
			transition: background-color 1s;
		}
			.nav_sublist:hover{
				background-color: lightblue;
			}
		.sublist{
			position: absolute;
			top: 100%;
			width: inherit;
			background-color: lightblue;
		}
			.sublist_listItem{
				display:none;
				text-align: center;
				padding: 0 4px;
			}

			.nav_sublist:hover .sublist_listItem{
				display:block;
			}
.content{
	text-align: center;
	padding: 135px 0 30px 0;
	font-family: "Trebuchet MS";
}
	.h1_style{
		border-bottom: 1px solid #000;
		margin: 20px 0;
	}
	.intro_p{
		margin: 0 0 10px 0;
	}
	.persona_pic{
		width: 200px;
	}
	.persona_info{
		padding: 10px 0 0 0;
	}
	.persona_list_style{
		font-weight: bold;
	}
	.persona_quote{
		font-size: 20px;
		font-style: italic;
		padding: 0 10px;
	}
	.h2_style{
		border-bottom: 1px solid #000;
		font: 28px bold;
		margin: 0 0 20px 0; 
	}
	.persona_detail_style{
		list-style-type: circle !important;
	}
.list_text_style{
	font-size: 14px;
	color: #fff;
}
	.list_style a:hover{
		color: #000;
	}
.scenario_img{
	margin: 0 auto;
	padding: 10px 0;
	display: block; 
}
.img_style{
	max-width: 940px;
}
.biblio_title{
	font-weight: bold;
	margin: 0 0 8px 0;
}
	.biblio_text{
		margin: 8px 0 15px 0;
	}
.teamphoto{
	display: block;
	margin: 0 auto;
	padding: 0 0 20px 0;
	max-width: 600px;
}
.social{
	background: #4D94FF;
	border-bottom: solid 5px #56c2b9;
}
	.social_text{
		font-size: 34px;
		font-weight: normal;
		color: #000;
		text-align: center;
		padding: 50px 0 20px 0;
		letter-spacing: 1px;
	}
	.social_list{
		text-align: center;
		margin: 0 0 46px 0;
	}
		.social_list_item{
			display: inline-block;
			margin: 0 10px;
		}
			.social_list_item a{
				display: block;
				background: #fff;
				width: 60px;
				height: 60px;
				border-radius: 30px;
				text-align: center;
				color: #56c2b9;
				padding: 16px 0 0 0;
			}
			.social_list_item i{
				font-size: 28px;
			}
			.social_list_item a:hover{
				color: #000;
			}
.legal_stuff{
	background: #000;
	padding: 28px 0;
}
	.left_footer{
		text-align: right;
	}
	.left_footer,
	.footer_legal,
	.footer_legal a{
		font-size: 14px;
		font-weight: normal; 
		color: #fff;
		letter-spacing: 1px;
	}
	.left_footer,
	.footer_legal{
		padding: 0 14px;
	}
	.footer_legal a:hover{
		color: #56c2b9;
	}
