<!DOCTYPE html>

<html ng-app="homePage" lang="en">
	<head>
		<meta charset ="utf-8" http-equiv="Content-Type" charset="UTF-8" name="viewport" content="width=device-width"/>
		<title>3DLE | 3D Learning Environment</title>
		
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" media="all" href="css/style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<!--script src="scripts/respond.min.js"></script-->
		<script type="text/javascript" src="scripts/javascript.js"></script>
		<script type="text/javascript" src="scripts/app.js"></script>
	</head>
	<body id="top">
		<div class="navbar">
			<a href="#top" class="js_intro_link"><img class="logo" src="images/3dle_logo.png"></a>
            <ul class="caps">
            	<li class="codebold list_style"><div class="nav_sublist"><a href="#top" title="" class="list_text_style navbar_links js_intro_link">Introduction</a></div></li>
            	<li class="codebold list_style "><div class="nav_sublist"><a href="#persona1" class="navbar_links js_persona_link">Persona</a></li>
		        <li class="codebold list_style nav_sublist"><div class="nav_sublist"><a href="#scenario1" class="navbar_links js_scenario_link">Scenario</a></div></li>
                <li class="codebold list_style"><div class="nav_sublist"><a href="#gui" title="" class="list_text_style navbar_links js_gui_link">GUI</a></div></li>
            </ul>
		</div>
		<div class="social pull-right">

				<ul class="">
					<li class="social_list_item"><a href="" title="Facebook" target=""><i class="icon-facebook"></i></a></li>
					<li class="social_list_item"><a href="" title="Twitter" target=""><i class="icon-twitter"></i></a></li>
					<li class="social_list_item"><a href="" title="Instagram" target=""><i class="icon-instagram"></i></a></li>
				</ul>
		</div>
		<div class="intro">
			<div class="container">
				<div class="h1_style">
					<h1>Introduction</h1>
				</div>
				<div class="row">
				<div class="col-md-5">
					<img src="images/3dearth.jpg">
				</div>
				<div class="col-md-7 content">
					<p class="intro_p">History is one of the most difficult subjects for students to learn. There are so many facts to memorize and understand; from historical figures to battle dates. Listening to lectures and reading textbooks can be boring and ineffective. Students need to be able to assess the information at their own pace, and 3DLE will be the best way to achieve their goals.</p>
					<p class="intro_p">This program is designed to present middle school students with a straightforward approach to Ancient History. They will be able to choose a country and search important events and time periods. Their search will lead them to the topic of their choice, and from there they will have access to a study guide and a quiz. </p>
					<p class="intro_p">3DLE will benefit teachers as well as students. Teachers will be able to tailor their lesson plan to the information provided by the program. They will be able to request access to their students account to confirm completion of all assigned readings and quizzes. This program can be a used at home and in the classroom, which allows for flexibility.</p>
				</div>
				</div>
                
			</div>
		</div>
		<div class="container persona" ng-controller="PersonaController as persona">
			<div class="tabBar col-md-12" ng-controller="TabController as tab">
				<ul class="nav nav-pills codebold" >
					<li ng-repeat="personaTab in persona.profiles"><a href="" ng-class="{active: tab.isSet(personaTab.personaNo)}" ng-click="tab.setTab(personaTab.personaNo)">Persona {{personaTab.personaNo}}</a></li>
				</ul>
				<div class="content" id="persona1" ng-repeat="person in persona.profiles" ng-show="tab.isSet(person.personaNo)">
					<div class="container" >
						<div class="h1_style clr" >
							<h1>Persona {{person.personaNo}}</h1>
						</div>
						<div class="clr">
							<div class="col-md-3">
								<img class="persona_pic" ng-src="{{person.image}}">
							</div>
								<ul class="col-md-4">
									<li><span class="persona_list_style">Persona Type:</span> {{person.personaType}}</li>
									<li><span class="persona_list_style">Name:</span> {{person.name}}</li>
									<li><span class="persona_list_style">Age:</span> {{person.age}}</li>
									<li><span class="persona_list_style">Location:</span> {{person.location}}</li>
									<li><span class="persona_list_style">Technical Comfort:</span> {{person.technicalComfort}}</li>
									<li><span class="persona_list_style">Profession:</span> {{person.profession}}</li>
								</ul>
							<div class="col-md-5">
								<p class="persona_quote">“{{person.quote}}”</p>
							</div>
						</div>
						<div class="persona_info clr gutters">
							<div class="col-md-6">
								<h2 class="h2_style">Background</h2>
								<p>{{person.background}}</p>
							</div>
							<div class="col-md-6">
								<h2 class="h2_style">Frustrations</h2>
								<ul class="persona_detail_style">
									<li ng-repeat="frustration in person.frustrations">{{frustration}}</li>
								</ul>
							</div>
						</div>
						<div class="persona_info clr gutters">
							<div class="col-md-6">
								<h2 class="h2_style">Motivations</h2>
								<ul class="persona_detail_style">
									<li ng-repeat="motivation in person.motivations">{{motivation}}</li>
								</ul>
							</div>
							<div class="col-md-6">
								<h2 class="h2_style">Ideal Experience</h2>
								<ul class="persona_detail_style">
									<li ng-repeat="ideal in person.idealExperience">{{ideal}}</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container" ng-controller="ScenarioController as scenarioCtrl">
			<div class="tabBar container" ng-controller="TabController as tab">
				<ul class="nav nav-pills codebold ">
					<li ng-repeat="scenarioTab in scenarioCtrl.situations"><a href="" ng-class="{active: tab.isSet(scenarioTab.scenarioNo)}" ng-click="tab.setTab(scenarioTab.scenarioNo)">Scenario {{scenarioTab.scenarioNo}}</a></li>
				</ul>
				<div class="content col-md-12" id="scenario1" ng-repeat="scenario in scenarioCtrl.situations" ng-show="tab.isSet(scenario.scenarioNo)">
					<div class="h1_style">
						<h1>Scenario {{scenario.scenarioNo}}</h1>
					</div>
					<p>{{scenario.scenarioText}}</p>
					<img class="scenario_img img-responsive" ng-src="{{scenario.image}}">
				</div>
			</div>
		</div>
		<div class="content" id="gui">
			<div class="container">
				<div class="h1_style">
					<h1>GUI</h1>
				</div>
				<ul class="gallery_list">
					<li class="gallery_item"><a class="js_gallery_item" href="" title="_blank"><img class="img_style" src="images/GUI_screen_1.png"></a></li>
					<li class="gallery_item"><a href="" title=""><img class="img_style" src="images/GUI_screen_2.png"></a></li>
					<li class="gallery_item"><a href="" title=""><img class="img_style" src="images/GUI_screen_3.png"></a></li>
					<li class="gallery_item"><a href="" title=""><img class="img_style" src="images/GUI_screen_4.png"></a></li>
				</ul>
				
                
			</div>
		</div>

		<footer class="legal_stuff">
			<div class="container">
				<div class="col span_6">
					<p class="caps codebold left_footer">&#169; 2014 copyright 3dle</p>
				</div>
				<div class="col span_6">
					<p class="caps codebold footer_legal"><a class="" href="" title="of Use" target="_blank">terms of use</a> | <a class=""  href="" title="Privacy Policy" target="_blank">privacy policy</a></p>
				</div>
			</div>
		</footer>
		<!--<div class="light_box">
			<div style="margin:0 auto; width:auto;">
				<img src="images/GUI_screen_1.png" class="lightbox_img">
			</div>
		</div>-->
	</body>
	
</html>